.gradient-background {
  background: linear-gradient(300deg, #355872, #c9beff, #9cd5ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sans-serif {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

.nav-padding {
  padding: 0;
}

.item-size {
  font-size: 1.3rem;
}

.listitem-size > li {
  margin-bottom: 1rem;
}

.section-light {
  background-color: #d0e7ff;
}

h2,
h3 {
  color: #355872;
}
h1 {
  color: #1e3a5f;
}
